/*Paars #5722CD;*/
/*Blauw #4845E4;*/
/*Roze #ED4385;*/
/*Zwart #0C0C0C (voor standaard tekst);*/
/*Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:*/
/*Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)*/
/*Grijs #7A7A7A (voor de service-tegel tekst);*/

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* ------------------------------- 2. Typography ----------------------------------- */
h1, h2, h3, h4 ,h5{
    font-family: 'Merriweather', serif;
}
p {
    font-family: 'Roboto', sans-serif;
}
/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */
.dev {
    border: 2px solid red;
}

.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;

}

.inner-container {
    flex-basis: 1800px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 20px;
}
.btn{
    background-color: #ED4385;
    border-radius: 50px;
}

/* --------------- 3.2 Other --------------------------- */
a:link { text-decoration: none;}
li > a {
    color: white;
}

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
.hero-section__navbar {
    display: flex;
    height: 6.25rem;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #5722CD;
}
.hero-section-menu {
    display: flex;
    flex-basis: 620px;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}
.hero-section__item {
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;

}
.header{
    background-color: #5722CD;
    height: 48.75rem;
}
.headerinner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
}
.squiggleheader{
    padding-top: 5rem;

}
.emptydiv{
    height: 14rem;
}

.hero-section__title{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    font-size: 3.7rem;
    color: white;

}
.hero-section__subtitle{
    font-size: 2.2rem;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
}



.btn-primary{
    width: 22rem;
    height: 5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: none;
    -webkit-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.27);
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.27);
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    color: white;

}


/* --------------- 4.2 Introduction ------------------- */
.introduction{

}
/* ------------------------------- 5. Media Queries -------------------------------- */